/*
Version: 0.70
Created by James Landy
Subreddit: /r/cleanUI;
*/


*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
	background-color: #e0f7fa;
	min-width: 850px;
}

/* General Styles - Links / Buttons / Inputs */
a {
	color: #0000FF;
	transition: color 0.15s ease;
}

/*
input:not([type="submit"]), textarea, .roundfield textarea, .roundfield input[type=text], .roundfield input[type=url], .roundfield input[type=password], .roundfield input[type=number],
			.linefield textarea, .linefield input[type=text], .linefield input[type=password],
			.pretty-form input[type=text], .pretty-form textarea, .pretty-form input[type=password], .pretty-form input[type=number],
			.login-form-side input[type=text], .login-form-side input[type=password] {
				box-shadow: none!important;
				background-color: #fff;
				border: 1px solid #e5e5e5;
				color: #707070;
				transition: all 0.15s ease!important;
			}

				input:hover, textarea:hover, .roundfield textarea:hover, .roundfield input[type=text]:hover, .roundfield input[type=url]:hover, .roundfield input[type=password]:hover, .roundfield input[type=number]:hover,
				.linefield textarea:hover, .linefield input[type=text]:hover, .linefield input[type=password]:hover,
				.pretty-form input[type=text]:hover, .pretty-form textarea:hover, .pretty-form input[type=password]:hover, .pretty-form input[type=number]:hover,
				.login-form-side input[type=text]:hover, .login-form-side input[type=password]:hover {
					border-color: #C5C5C5;
				}

					input:active, textarea:active, .roundfield textarea:active, .roundfield input[type=text]:active, .roundfield input[type=url]:active, .roundfield input[type=password]:active, .roundfield input[type=number]:active,
					.linefield textarea:active, .linefield input[type=text]:active, .linefield input[type=password]:active,
					.pretty-form input[type=text]:active, .pretty-form textarea:active, .pretty-form input[type=password]:active, .pretty-form input[type=number]:active,
					.login-form-side input[type=text]:active, .login-form-side input[type=password]:active {
						outline: none!important;
						border-color: #4F8EF7;
						color: #4D5763;
					}

.btn, button {
				margin: 4px 16px 4px 0px;
				padding: 2px 18px;
				background-color: #516AE8;
				border: none;
				border-radius: 2px;
				box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.24);
				color: #fff !important;
				text-transform: uppercase;
				font-weight: bold;
				cursor: default;
				transition: all 0.25s ease;
				height: 32px;
				font-size: 12px;
			}

				.btn:hover, button:hover {
					box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.34);
					background-color: #5A72EE;
				}

					.btn:active, button:active {
						box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
						background-color: #4059DB;
					}

					.btn:focus, button:focus {outline: none;}
*/


/* Header */

#header {
	margin: 0px;
	height: 0px;
	border: none;
}


	#sr-header-area {
		background-color: #00bcd4 ;
		border: 0px solid;
		/*transition: all 0.15s ease;
		*/height: 24px;
		line-height: 23px;
	}
/*
		#sr-header-area .width-clip {right: 300px;}
			body:not(.loggedin) #sr-header-area .width-clip {right: 340px;}

			#sr-header-area .sr-list {margin-right: 48px;}

			#sr-header-area .sr-bar a, #sr-more-link, #sr-header-area .separator, #sr-header-area .dropdown.srdrop .selected {
					background-color: transparent;
					color:black;
					transition: all 0.15s ease;
				}

			#sr-header-area:hover .sr-bar a, 
			#sr-header-area:hover #sr-more-link, 
			#sr-header-area:hover .seperator,
			#sr-header-area:hover .dropdown.srdrop .selected {color: black;}

			#sr-header-area .sr-bar a:hover, #sr-more-link:hover, #sr-header-area .dropdown.srdrop .selected:hover {
					background-color: transparent;
					border: 0px solid;
					transition: all 0.15s ease;
			}

			a.random.choice {
				padding-top: 2px;
				position: relative;
				display: inline-block;
				margin-top: -2px;
			}

			#sr-header-area .dropdown.srdrop .selected {
				margin: 0px 12px 0px 8px;
				padding: 0px;
				background-image: none;
			}

			#sr-header-area .dropdown.srdrop .selected:hover {text-decoration: underline;}

			#sr-header-area .dropdown.srdrop .selected:after {
				position: relative;
				content: "▼";
				margin-left: 4px;
				font-size: 10px;
			}

*/
			/* My Subreddits Dropdown */
			/*
			#sr-header-area .drop-choices.srdrop {
				background-color: #fff;
				border: none;
				box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
			}

			#sr-header-area .drop-choices a.choice {
				border-bottom: 1px solid #edeeee;
				color: black;
				padding: 2px;
			}

			#sr-header-area .drop-choices a.choice:hover {
				background-color: #f1f1f1;
			}
*/

			#header-img.default-header, #header-img {
				z-index: 99;
				width: 115px;
				padding-left: 48px;
				height: 46px;
				/*******************************************************************/
				background-image: url(%%spritesheet2%%) 93px -100px;
				background-color: transparent;
				/*background-position: 93px -100px;
				*/position: relative;
				top: 0px;
				margin: 0;
			}

			#header-img.default-header:hover, #header-img:hover {
				/*background-position: -208px -96px;*/
			}


		 	#header .pagename {
		 		font-size: 0;
		 	}

	 		#header .pagename a {
				display: inline-block;
	 			color: white;
	 			font-size: 22px;
	 			padding: 11px;
	 			font-weight: bold;
	 			position: relative;
	 			top: 10px;
	 			font-family: arial;
	 			margin: 0 4px;
	 			vertical-align: top;
	 			transition: background-color 0.25s ease;
	 			font-variant: normal;
	 		}

			#header .pagename a:hover {
				text-decoration: none;
				/*background-color: rgba(0,0,0,0.08);*/
			}

			#header .pagename a:before {
				content: "/r/";
				font-size: 22px;
				font-variant: normal;
				letter-spacing: 1px;
			}

/* Tabmenu (hot/new/top) */
#header-bottom-left {
	position: absolute;
	top: 50px;
	/*left: 16px;
	right: 16px;
	*/text-align: center;
	width: 100%;
	background-color: #00bcd4 ;
	box-shadow: 3px 1px 5px black;
}

#header .tabmenu {
	position: absolute;
	top: 50px;
	left: 10px;
	margin: 0px;
}

#header .tabmenu ul li {margin: 0px !important;}
	#header .tabmenu li a {
		display: block;
		margin: 0px 7px;
		padding: 16px 16px;
		background-color: #01579b ;
		color: white;
		text-transform: uppercase;
		font-weight: normal;
		font-size: 14px;
		font-family: Roboto, sans-serif;
		transition: color 0.25s ease, background-color 0.5s ease;
		box-shadow: 3px 1px 5px black;
	}

	/* IF Headerimg is though */
	#header .tabmenu li a {
		color: #fff;
	}

	#header .tabmenu li a, .pagename a {
		/*text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);*/
	}

	#header .tabmenu li a:hover {
		background-color: #08088A;
		box-shadow: 7px 3px 10px black;
	}

	#header .tabmenu li.selected a {
		padding: 16px 16px 14px 16px;
		background-color: #4fc3f7;
		border: 0px;
		border-bottom: 2px solid #fff;
		color: black;
		font-weight: bold;
	}

	#header .tabmenu li.selected a:hover {
		background-color: #A9F5F2;
		box-shadow: 7px 3px 10px black;
	}

	.listing-page .tabmenu li > a[href$="/rising/"], .wiki-page .tabmenu li > a[href$="/rising/"],
	.listing-page .tabmenu li > a[href$="/controversial/"], .wiki-page .tabmenu li > a[href$="/controversial/"],
	.listing-page .tabmenu li > a[href$="/promoted/"], .wiki-page .tabmenu li > a[href$="/promoted/"],
	.listing-page .tabmenu li > a[href$="/gilded/"], .wiki-page .tabmenu li > a[href$="/gilded/"]
	{
		display:none!important;
	}


/* Sidebar */

.side {
	margin: 150px 16px 0px 0px;
	padding: 6px 16px;
	background-color: white;
	border-radius: 1px;
	box-shadow: 7px 3px 10px black;
}

/* Objects from top to bottom */
#header-bottom-right {
	margin: 2px 0 0 0;
	background: #80deea;
	font-size: 11px;
}
/*
#header-bottom-right {
	position: absolute;
	top:0px;
	right: 0px;
	width: auto;
	max-width: 400px;
	height: 24px;
	background-color: transparent;
	font-size: 11px;
	color: black;
	padding: 5px 8px 4px 2px;
}

	body:not(.loggedin) #header-bottom-right {max-width: 340px;}
	#header-bottom-right a {color: silver;}
	#header-bottom-right a:hover {text-decoration: underline;}

.user .userkarma {
	font-weight: normal;
	color: rgba(255,255,255,0.45);
	border: none;
	font-size: 9px;
	transition: all 0.15s ease;
}

.separator, .user {
	color: black;
}


#mail, #modmail {
	width: 16px;
	height: 14px;
	background-color: yellow !important;
	background-repeat: no-repeat !important;
	background-color: transparent;
	transition: all 0.25s ease;
}


	#mail {
		top: -2px;
		overflow: visible;
	}

	#mail.nohavemail {
		background-position: -32px -0px;
	}

	#mail.havemail {
		background-position: -32px -16px;
		opacity: 1;
	}

	.message-count {
		background-color: #f50;
		position: relative;
		top: -1px;
	}

	#mail.havemail:before {
		position: fixed;
		padding: 16px 24px;
		bottom: 24px;
		z-index: 100;
		background-color: #EA4848;
		border-radius: 2px;
		box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.24);
		color: #fff;
		width: 300px;
		height: 48px;
		left: 24px;
		content: "You have new messages!";
		text-indent: 0px;
		font-size: 14px;
		font-family: arial, sans-serif;
		line-height: 1;
		-webkit-transform:translateY(112px);
		transform:translateY(112px);
		transition: background-color 0.25s ease, box-shadow 0.25s ease;
		background-color: green;
		background-position: 269px -32px;
		background-repeat: no-repeat;
	}

	#mail.havemail:hover:before {
		background-color: #ec5b5b;
		box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.48);
	}

	#mail.havemail:active:before {
		background-color: #c73d3d;
		box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.76);
	}


	#modmail {top: -3px;}

		#modmail.nohavemail {background-position: -48px -0px;}
		#modmail.havemail {background-position: -48px -16px;opacity: 1;
	}
*/
/* preferences & logout icons */
/*	#header-bottom-right a.pref-lang, .loggedin .logout a{
		background-position: 0px -16px;
		background-color: purple;
		width: 30px;
		height: 14px;
		display: inline-block;
		text-indent: -9999px;
		margin: 0px;
		position: relative;
		top: -1px;
		transition: all 0.25s ease;
	}

	.loggedin .logout a {background-position: 0px -0px;}

	.side:after {
		display: block;
		margin: 10px 0px;
		padding: 10px 0px;
		color: #5B92FA;
*/
	/* Please do not change or remove this line. */
/*	content: "CSS Theme via /r/cleanUI";
*/	/* Please do not change or remove this line. */
/*
		text-transform: none;
		font-size: 16px;
		font-family: arial,sans-serif;
		position: absolute;
		width: 300px;
		text-align: center;
		right: 16px;
		}*/
#search {
	position: absolute;
	right: 16px;
	top: 105px;
	width: 300px;
	border: none;
	box-shadow: 7px 3px 10px black;
	z-index: 100;
}
    #search:focus::-webkit-#search-placeholder,
    #search:valid::-webkit-#search-placeholder {
      color: #1abc9c;
      font-size: 11px;
      transform: translateY(-20px);
      visibility: visible !important;
    }

textarea {
	min-width: 300px;
}

		/* Body Content - Frontpage */
			body >.content {
				margin: 105px 332px 100px 230px;
				padding: 0px;
				border-radius: 2px;
				min-width: 300px;
			}
				body.listing-page >.content {
					box-shadow: 7px 3px 10px black;
				}

				body:before {
					height: 166px;
					top: 0px;
					position: absolute;
					width: 100%;
					left: 0px;
					right: 0px;
					background-color: #616161;
					/*background-image: url(%%headerimg%%);
					*/background-repeat: no-repeat;
					background-position: 50% 0%;
					content: "";
					text-indent: -9999px;
					z-index: -1;

				}

					@media only screen and (min-width : 1921px) {
						body:before {background-size: cover;}
					}

				.sitetable {
					position: relative;
				}

					.link {
						margin: 0px;
						padding: 0;
						background-color: #fff;
					}

						/* Objects on the link from left to right */
						body >.content .link .rank, .rank-spacer {display: none;}

						/* Voting Arrows */
						.link .midcol {
							width: 36px !important;
							margin: 15px 14px 0px 11px;
							overflow: visible;
							height: 60px;
						}
							.link .score {
								line-height: 16px;
								font-size: 12px;
								margin: 1px 0px 1px 0px;
							}

								.link .score.likes {color: #ff6422;}
								.link .score.dislikes {color: #5c5bd7;}

							.arrow {
								margin: 0px 0px 0px 2px;
								background-image: url(%%spritesheet%%) !important;
								/*background-color: red;*/
								width: 33px;
								height: 100px;
								border-radius: 2px;
								transition: background-color 0.25s ease;
							}

								.arrow:hover {background-color: rgba(0,0,0,0.05);}

								/* Upvotes */
								.arrow.up {/*-64px 0px*/
									height: 20px;
									background-position: -64px 0px;
									transition: background-color 0.25s ease;
								}

									.arrow.upmod {/*-128px 0px*/
										height: 20px;
										background-position: -128px 0px;
										position: relative;
										background-color: blue;
									}

										.arrow.upmod:focus:after {
										    position: absolute;
										    left:2px;
										    bottom: -3px;
										    width: 28px;
										    height: 28px;
										    opacity: 1;
										    z-index:100;
										    content: " ";
										    /*background-color: blue;*/
										    border-radius: 28px;
										    animation: upvote 0.35s ease-out forwards;
										    -webkit-animation: upvote 0.35s ease-out forwards;
										}

								/* downvotes */
								.arrow.down {
									height: 20px;
									background-position: -160px 0px;
									transition: background-color 0.25s ease;
								}
									.arrow.downmod {
										height: 20px;
										background-position: -224px 0px;
										background-color: red;
									}


									/* Hover Message on Downvote */
									.arrow.down:after {
										display: block;
										visibility: hidden;
										position: absolute;
										z-index: 1000;
										margin-top: -6px;
										margin-left: 32px;
										padding: 12px;
										background-color: red;
										border: none;
										border-radius: 2px;
										color: rgba(255, 255, 255, 0);
										content: "For content that does not contribute to any discussion.";
										text-align: center;
										letter-spacing: 1px;
										font-weight: normal;
										font-size: 13px;
										transition: all 0.25s ease;
										pointer-events: none;
									}

										.arrow.down:hover:after {
											visibility: visible;
											background-color: rgba(79, 77, 192, 0.9);
											color: #FFF;
											margin-left: 48px;
										}


.morelink {
  border: none;
  background: #18ffff;
  cursor: pointer;
  border-radius: 3px;
  padding: 0px 6px;
  width: 200px;
  margin-left: 25px;
  box-shadow: 3px 1px 5px black;
  text-align: center;
  font-size: 14px;
  }

.morelink:hover {
	background: #00b8d4; 
    transform: translateY(-3px);
    box-shadow: 7px 3px 10px black;
}

.morelink:active {
	background-color: #00b8d4;
	box-shadow: 7px 3px 10px black;
}

.nub {
	display: none;
}

  .btn, button {
  border: none;
  background: #18ffff;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 200px;
  color: black;
  margin-left: 25px;
  box-shadow: 3px 1px 5px black;
  }

  .btn:hover, button:hover {
  	background: #00b8d4;
  	box-shadow: 7px 3px 10px black;
  }

/* Restricted button */
.disabled .morelink {
	box-shadow: none !important;
	background-color: #CFCFCF;
}

.disabled .morelink a {
	color: #4d5763;
}

.disabled .morelink:after {
	content: "You must be approved by the moderators in order to submit.";
	background-color: #CFCFCF;
	color: #4d5763;
}


/* Subscribe Button */
.titlebox .fancy-toggle-button {
	position: relative;
}

.titlebox .fancy-toggle-button .add, .titlebox .fancy-toggle-button .remove {
	position: absolute;
	right: -265px;
	top: -40px;
	background-image: none;
	border-radius: 0px;
	background-color: #51A3E8;
	border: 0px solid;
	box-shadow: 3px 1px 5px black;
	/*background-image: url(%%spritesheet%%);*/
	background: #f44336;
	transition: all 0.25s ease, background-position 0.25s ease, background-color 0.5s ease;
	outline: none !important;
	font-size: 12px;
}

.titlebox .fancy-toggle-button .add:hover, .titlebox .fancy-toggle-button .remove:hover {
	background: #d50000;
	box-shadow: 7px 3px 10px black;
}
/*
						.titlebox .fancy-toggle-button .add:active, .titlebox .fancy-toggle-button .remove:active {
							box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.64);
						}

					.titlebox .fancy-toggle-button .add {
						background-color: #516AE8;
						background-position: -208px -144px;
					}

						.titlebox .fancy-toggle-button .add:hover {background-color: #5A72EE;}

							.titlebox .fancy-toggle-button .add:active {
								background-color: #fff;
								background-position: -208px -192px;
							}

					.titlebox .fancy-toggle-button .remove {
						background-color: #fff;
						background-position: -208px -192px;
					}

						.titlebox .fancy-toggle-button .remove:hover {background-color: rgba(0,0,0,0.05);}

							.titlebox .fancy-toggle-button .remove:active {
								background-color: #5A72EE;
								background-position: -208px -144px;
							}
							*/


.res .RESshortcutside, .res .RESDashboardToggle {
	background: #1e88e5;
	border: none;
	color: #4D5763;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 0px;
	padding: 4px 2px 4px 0px;
	margin: 2px 20px 2px -4px;
	text-align: center;
	width: auto;
	color: white;
	box-shadow: 3px 1px 5px black;
}

.res .RESshortcutside:hover, .res .RESDashboardToggle:hover {
	background: blue;
	box-shadow: 7px 3px 10px black;
}

