/*
Version: 1.3
Created by James Landy
Subreddit: /r/cleanUI;
*/

/*
WHAT'S NEW?

1) CHANGED FONT
2) HEAVILY CHANGES COLOR SCHEME (STILL THINGS UNCHANGED)
3) MADE HEADER BAR AND TOP LINK BAR HAVE SOME TRANSPARENCY
4) CHANGED ORANGE COLORED TEXT TO WHITE OR BLACK 
5) FIXED ARROW BACKGROUND COLOR TO BE NONE
6) FIXED PADDING IN ENTRYS TO BE INLINE WITH THE ARROWS
7) MOVED USERBAR HEADER TO BE ALL THE WAY TO THE RIGHT
8) MOVED OPEN ARROW TO ALL THE WAY TO THE RIGHT WHEN USERBAR IS HIDDEN
9) CLEANED UP SUBMIT LINK/TEXT PAGE
10) RESTYLED SUBMIT LINK/TEXT PAGE
11) STYLED SUBSCRIBE BUTTON
12) CHANGED HEADER IMAGE TO NEW COLOR DESIGN

*****************VERSION 1.24***********************
1) FIXED BUGS ON TOP SORTING
2) FIXED BUGS ON EDITING THE STYLESHEET PAGE
3) FIXED ARROW WIDTH ON MIDCOL SECTION

*****************VERSION 1.23***********************
1) FIXED USERNAME SECTION WIDTH AND PLACEMENT
2) FIXED ARROW STYLING FOR USERNAME

*****************VERSION 1.22***********************
7/24/2015
1) FIXED SEARCH BAR STYLING
2) FIXED SIDE BAR BUTTONS STYLING
3) FIXED BUGS ON SUBMIT PAGE
4) FIXED BUGS ON COMMENT PAGE

*****************VERSION 1.21***********************
7/20/2015
1) MOVED USERNAME AND INFO TO REDDIT HEADER BAR
2) CHANGED STYLING ON USERNAME AND INFO BAR

*****************VERSION 1.2***********************
7/19/2015
1) MOVED HEADER DOWN
2) MOVED BODY AND RIGHT SIDE DOWN
3) UPDATED COLOR SCHEME
4) HID SOME USELESS RES TIPS
5) CHANGED TAB MENU LOOK
6) ADDED NEW BACKGROUND IMAGE

*****************VERSION 1.1***********************
7/10/2015
1) HID SIDE BAR ON SUBMIT A NEW LINK/TEXT POST PAGE TO MAKE IT BETTER FOR SMALLER WINDOWS
2) CHANGED COLOR SCHEME SLIGHLTLY
3) MODIFIED SEARCH BAR SO IT DID NOT OVERLAP BODY AS EARLY
4) MODIFIED BODY AND TABS TO BE MORE MOBILE FRIENDLY
*/

html {
	font-family:"Segoe UI",Arial,Sans-Serif;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
	/*******************************************************************
	EDIT BACKGROUND COLOR FOR YOUR PAGE
	*******************************************************************/
	background-color: white;
	min-width: 850px;
	font-family:"Segoe UI",Arial,Sans-Serif}



/*********************************************************************/
/* General */
a {
	color: white;
	transition: color 0.15s ease;
	font-weight: bold;
}

.btn, button {
	border: none;
	/*******************************************************************
	EDIT BACKGROUND COLOR FOR BUTTONS
	*******************************************************************/
	background: #18ffff;
	cursor: pointer;
	border-radius: 3px;
	padding: 6px;
	width: 200px;
	color: black;
	margin: 0px auto;
	color: white;
}

.btn:hover, button:hover {
	background: #343d46;
}

textarea {
	min-width: 350px;
}


/**********************************************************************/


/* Header */
#header {
	margin: 0px;
	height: 0px;
	border: none;
}

#header-bottom-left {
	position: absolute;
	top: 113px !important;
	opacity: .8;
	box-shadow: none;
}

#sr-header-area {
	/*******************************************************************
	EDIT BACKGROUND COLOR FOR YOUR BANNER
	*******************************************************************/
	background-color: #4F5B66;
	color: white;
	border: 0px solid;
	height: 24px;
	line-height: 23px;
	opacity: .8;
}

.sr-bar a {
	color: white;
}

#header-img.default-header, #header-img {
	z-index: 99;
	left: 30px;
	top: 5px;
	font-size: 30px;
	/*******************************************************************
	EDIT YOUR SPRITE HERE FOR THE REDDIT LOGO
	*******************************************************************/
	/*background-image: url(%%spritesheet2%%) 93px -100px;*/
	color: white;
	content: "<<";
	background-color: transparent;
	position: absolute;
	margin: 0;
}

#header .pagename {
	font-size: 0;
}

#header .pagename a {
	display: inline-block;
	color: white;
	font-size: 22px;
	padding: 11px;
	font-weight: bold;
	position: relative;
	top: 10px;
	font-family:"Segoe UI",Arial,Sans-Serif;
	margin: 0 4px;
	vertical-align: top;
	transition: background-color 0.25s ease;
	font-variant: normal;
}

#header .pagename a:hover {
	text-decoration: none;
}

#header .pagename a:before {
	content: "/r/";
	font-size: 22px;
	font-variant: normal;
	letter-spacing: 1px;
}

/* TabMenu */
#header-bottom-left {
	position: absolute;
	top: 50px;
	text-align: center;
	width: 100%;
	/*******************************************************************
	EDIT BACKGROUND COLOR FOR WHERE THE USERNAME IS
	*******************************************************************/
	background-color: #4F5B66;
	color: white;
}

#header .tabmenu {
	position: absolute;
	top: 40px;
	left: 10px;
	margin: 0px;
}

#header .tabmenu ul li {
	margin: 0px !important;
}

#header .tabmenu li a {
	display: block;
	margin: 0px 7px;
	padding: 16px 16px;
	/*******************************************************************
	EDIT BACKGROUND COLOR FOR THE TABS
	*******************************************************************/
	background-color: transparent;
	color: white;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 14px;
	/*font-family: Roboto, sans-serif;*/
	transition: color 0.25s ease, background-color 0.5s ease;
}

#header .tabmenu {
	background: #4F5B66;
	border: 1px black;
	top: 40px;
	left: 0px;
	margin: 0px;
	border-radius: 10px;
	height: 1400px;
}

#header .tabmenu li a {
	color: #fff;
}

#header .tabmenu li a:hover {
	background-color: #343d46;
}

#header .tabmenu li.selected a {
	padding: 16px 16px 14px 16px;
	/*******************************************************************
	EDIT BACKGROUND COLOR FOR TAB THAT IS SELECTED
	*******************************************************************/
	background-color: transparent;
	border: 0px;
	border-bottom: 2px solid #fff;
	color: white;
	font-weight: bold;
}

#header .tabmenu li.selected a:hover {
	background-color: #343d46;
}

.listing-page .tabmenu li > a[href$="/rising/"], .wiki-page .tabmenu li > a[href$="/rising/"],
.listing-page .tabmenu li > a[href$="/controversial/"], .wiki-page .tabmenu li > a[href$="/controversial/"],
.listing-page .tabmenu li > a[href$="/promoted/"], .wiki-page .tabmenu li > a[href$="/promoted/"],
.listing-page .tabmenu li > a[href$="/gilded/"], .wiki-page .tabmenu li > a[href$="/gilded/"]
{
	display:none!important;
}

/**********************************************************************/

/* Sidebar */

.side {
	margin: 200px 16px 0px 0px;
	padding: 6px 16px;
	/*******************************************************************
	EDIT BACKGROUND COLOR FOR RIGHT SIDE
	*******************************************************************/
	/*background-color: silver;
	border-radius: 1px;
	border: solid black;*/
}

.submit-page .side {
	display: none;
}

/* Objects from top to bottom */
#header-bottom-right {
	position: absolute;
	color: white;
	right: 16px;
	font-size: 1em;
	top: 135px !important;
	background-color: transparent;
	width: 368px;
	margin: 0;
	display: inline-block;
}

#userbarToggle {
	background: transparent !important;
	color: white !important;
	font-size: 2em !important;
	padding: 0px;
	border-right: none !important;
	display: inline-block;
}

.userbarShow {
	right: 0;
	left: auto !important;
}

input[type="text"][name="q"]  {
	position: absolute;
	right: 16px;
	top: 177px;
	width: 300px;
	border: 0;
	color: #FF8F32;
	border-radius: 10px;
	z-index: 100;
	text-align: center;
}

input[type="text"][name="name"] #img-name {
	border-style: dashed;
}

input[type="submit"] {
	display: none;
}

.morelink {
  border: none;
  /*******************************************************************
	EDIT BACKGROUND COLOR FOR SUBMIT NEW CONTENT BUTTONS
  *******************************************************************/
  background: #4F5B66;
  color: white;
  right: 16px;
  cursor: pointer;
  border-radius: 3px;
  width: 300px;
  text-align: center;
  font-size: 14px;
  }

  .morelink a {
  	color: white;
  }

.morelink:hover {
	background: #343d46; 
}

.morelink:active {
	background-color: #343d46;
}

.nub {
	display: none;
}

/* Restricted button */
.disabled .morelink {
	box-shadow: none !important;
	background-color: #CFCFCF;
}

.disabled .morelink a {
	color: white;
}

.disabled .morelink:after {
	content: "You must be approved by the moderators in order to submit.";
	background-color: #CFCFCF;
	color: white;
}


/* Subscribe Button */
.titlebox .fancy-toggle-button {
	position: relative;
}

.fancy-toggle-button .add {
	position: relative;
	right: 16px;
	border-radius: 0px;
	width: 300px;
	display: block;
	/*******************************************************************
	EDIT BACKGROUND COLOR FOR SUBSCRIBE BUTTON
	*******************************************************************/
	background-color: #4F5B66;
	background-image: none;
	color: white;
	border: 0px solid;
	outline: none !important;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
}

.titlebox .fancy-toggle-button .option .add, .titlebox .fancy-toggle-button .remove {
	position: relative;
	right: 16px;
	border-radius: 0px;
	width: 300px;
	display: block;
	/*******************************************************************
	EDIT BACKGROUND COLOR FOR UNSUBSCRIBE BUTTON
	*******************************************************************/
	background-color: #4F5B66;
	background-image: none;
	color: white;
	border: 0px solid;
	outline: none !important;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 2px;
}

.titlebox .fancy-toggle-button .add:hover, .titlebox .fancy-toggle-button .remove:hover {
	background: #343d46;
}

.res .RESshortcutside, .res .RESDashboardToggle {
	position: relative;
	/*******************************************************************
	EDIT BACKGROUND COLOR FOR RES SHORTCUT BUTTONS
	*******************************************************************/
	background: #4F5B66;
	display: block;
	border: none;
	color: white;
	width: 300px;
	height: 20px;
	right: 16px;
	margin-top: 5px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 0px;
	text-align: center;
	color: white;
	font-size: 14px;
}

.res .RESshortcutside:hover, .res .RESDashboardToggle:hover {
	background: #343d46;
}


/**********************************************************************/

/* Body */
body >.content {
	margin: 105px 332px 100px 230px;
	padding: 0px;
	border-radius: 2px;
	min-width: 300px;
}

body.listing-page >.content {
	
}

body:before {
	height: 166px;
	top: 0px;
	position: absolute;
	width: 100%;
	left: 0px;
	right: 0px;
	/*******************************************************************
	EDIT BACKGROUND COLOR OR SPRITE FOR BACKGROUND BEHIND BANNER AT TOP
	IF YOU WANT TO JUST DO A SOLID COLOR COMMENT OUT BACKGROUND IMAGE
	AND UNCOMMENT BACKGROUND COLOR
	*******************************************************************/
	/*background-color: #616161;*/
	background-image: url(%%CleanUIHeaderImage2%%);
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-position: 50% 50%;
	content: "";
	text-indent: -9999px;
	z-index: -1;
}

@media only screen and (min-width : 1921px) {
	body:before {
		background-size: cover;
	}
}

.sitetable {
	position: relative;
	top: 80px;
	border: 1px solid #EEEEEE;
	border-radius: 5px;
	left: -50px;
	width: 104%;
}

@media only screen and (max-width: 850px) {
	.sitetable {
		width: 100%;
		left: -2px;
	}
}

.link {
	margin: 0px;
	padding: 0;
	background-color: #fff;
}

/* Objects on the link from left to right */
body >.content .link .rank, .rank-spacer {
	display: none;
}

/* Voting Arrows */
.link .midcol {
	width: 36px !important;
	margin: 15px 14px 0px 11px;
	overflow: visible;
	height: 60px;
}

.link .score {
	line-height: 16px;
	font-size: 12px;
	margin: 1px 0px 1px 0px;
}

.link .score.likes {
	color: #ff6422;
}

.link .score.dislikes {
	color: #5c5bd7;
}

.arrow {
	margin: 0px 0px 0px 2px;
	/*******************************************************************
	EDIT YOUR SPRITE HERE FOR THE ARROW
	*******************************************************************/
	background-image: url(%%spritesheet%%) !important;
	width: 33px;
	height: 100px;
	border-radius: 2px;
}

.arrow:hover {
	background-color: rgba(0,0,0,0.05);
}

/* Upvotes */
.arrow.up {
	height: 20px;
	background-position: -64px 0px;
	transition: background-color 0.25s ease;
}

.arrow.upmod {
	height: 20px;
	background-position: -128px 0px;
	position: relative;
}

.arrow.upmod:focus:after {
    position: absolute;
    left:2px;
    bottom: -3px;
    width: 28px;
    height: 28px;
    opacity: 1;
    z-index:100;
    content: " ";
    border-radius: 28px;
    animation: upvote 0.35s ease-out forwards;
    -webkit-animation: upvote 0.35s ease-out forwards;
}

/* downvotes */
.arrow.down {
	height: 20px;
	background-position: -160px 0px;
	transition: background-color 0.25s ease;
}

.arrow.downmod {
	height: 20px;
	background-position: -224px 0px;
}

.arrow.down:hover:after {
	visibility: visible;
	background-color: red;
	color: #FFF;
	margin-left: 48px;
}

/***********************************************************************/

/*Submit Page*/
form .tabmenu{
	font-size: 25px !important;
	text-transform: uppercase;
	margin: 0px auto;
	border-style: none;
	text-align: center;
	position: relative;
	top: 35px;
	background-color: #4f5b66;
	width: 50%;
	top: 64px;
}

.formtab:hover {

}

form .submit .content {
	border: solid 1px silver;
	position: relative;
	top: 40px;
	background-color: purple;
}

.formtabs-content {
	font-size: 16px;
	margin: 0px auto;
	position: relative;
	top: 40px;
	border-top: none;
}

.tabmenu.formtab .selected a {
	margin: 0px auto;
	background-color:transparent; 
	border: none;
}

.tabmenu.formtab  a {
	background-color: transparent;
	border: none;
}

.infobar {
	background: white;
	border: solid 1px silver;
	border-radius: 5px;
	position: relative;
	top: 18px;
	font-weight: bold;
}

.infobar .newsletterbar {
	display: none;
}

.content h1, h2{
	display: none;
}

.roundfield {
	background: transparent;
	margin: 0px auto;
	margin-top: 25px;
	border: solid 1px silver;
	border-radius: 5px;
}

.roundfield #title-field {
	border: solid 1px silver;
	position: relative;
	top: 10px;
}

.roundfield textarea {
	width: 480px;
}

.roundfield input[type=url] {
	width: 480px;
}

form button {
	background-color: #4f5b66;
	box-shadow: none;
}

#suggested-reddits {
	display: none;
}

.roundfield-content {
	top: -10px;
	position: relative;
}

.info-notice {
	background: silver;
	border: none;
}

.submit-page #newlink.submit.content .btn {
	width: 200px;
	padding: 6px;
	height: 42px;
	margin: 0px auto !important;
	cursor: pointer;
	font-size: 16px;
	text-transform: uppercase;
	background-color: #4f5b66;
	color: white;
	position: relative;
	left: 55%;
}

.submit-page #newlink.submit.content .btn:hover {
	background: #343d46;
}

/*NEED TO BE ORGANIZED*/

@media screen and (max-width: 850px ) {

	#header .tabmenu {
	left: 0px;
	margin: 0px;
	}

	body >.content {
	margin: 105px 332px 100px 160px;
	padding: 0px;
	border-radius: 2px;
	min-width: 370px;
	}

}

#RESStyleSheetTipPane {
	display: none !important;
}

#RESStyleSheetTipPane-header {
	display: none;
}

.sheets .col textarea {
	width: 100%;
	position: relative;
	top: 70px;
}

.stylesheet-customize-container h2 {
	display: none;
}

#subreddit_stylesheet span.btn.right {

}

#subreddit_stylesheet .pretty-form {
	height: 500px;
}


#subreddit_stylesheet .sheets .btn {
	position: relative;
	display: block;
	top: 40px;
	right: -130px;
	width: 100px;
}

#subreddit_stylesheet span.btn.right {
	right: -150px;
	top: 1px;
}

/*****************COMMENTS PAGE********************/
.panestack-title {
	position: relative;
	top: 100px;
}

.markdownEditor-wrapper {
	height: 55px;
}

.markdownEditor {
	position: relative;
	top: 120px;
}

.commentarea .menuarea {
	position: relative;
	top: 105px;
}

.commentingAs {
	position: relative;
	top: 64px;
}

.RESMacroDropdownTitle {
	position: relative;
	top: 64px;
}

.content .menuarea {
	padding: 0;
	color: white;
}

.gadget .midcol {
	width: auto;
}

.icon-menu a {
	color: black;
}

a .choice {
	color: black;
}

#srLeftContainer, #RESStaticShortcuts, #RESShortcuts, #srDropdown {
	color: white;
}

a .subbarlink {
	color: white;
}

.footer a {
	color: black;
}

.leavemoderator a {
	color: black;
}

.togglebutton {
	color: black;
}

.author {
	color: black;
}

.prettyform {
	position: absolute;
	top: 175px;
}

.entry {
	position: relative;
	top: 15px;
}

.content.submit .info-notice {
	margin-top: 30px;
	background-color: silver;
	border: none;
	margin-bottom: 0px;
}

.RESMacroDropdownTitle {
	top: -35px;
}

.commentingAs {
	top: -25px;
}

.markdownEditor {
	top: 25px;
	left: -11px;
}

#newLink textarea {
	position: relative;
	top: -90px;
}